<!-- START Vimeo Badge ... info at http://vimeo.com/widget -->
<style type="text/css">
<!-- 
/* You can modify these CSS styles */
.vimeoBadge { margin: 0; padding: 0; font: normal 11px verdana,sans-serif; }
.vimeoBadge img { border: 0; }
.vimeoBadge a, .vimeoBadge a:link, .vimeoBadge a:visited, .vimeoBadge a:active { color: #3A75C4; text-decoration: none; cursor: pointer; }
.vimeoBadge a:hover { color:#00CCFF; }
.vimeoBadge #vimeo_badge_logo { margin-top:10px; width: 57px; height: 16px; }
.vimeoBadge .credit { font: normal 11px verdana,sans-serif; }
.vimeoBadge .clip { padding:0; float:left; margin:0 10px 10px 0; width:160px; line-height:0; }
.vimeoBadge .caption { font: normal 11px verdana,sans-serif; overflow:hidden; width:160px; height: 30px; }
.vimeoBadge .clear { display: block; clear: both; visibility: hidden; } 
-->
</style>
<div class="vimeoBadge">
			<script type="text/javascript" src="http://vimeo.com/user5402501/badgeo/?stream=uploaded&amp;stream_id=&amp;count=9&amp;thumbnail_width=160&amp;show_titles=yes"></script>
	</div>
<!-- END Vimeo Badge -->